.dark {
  --background-color: #212121;
  --surface-color: #323232;
  --primary-color: #0d7377;
  --secondary-color: #14ffec;
  --background-font-color: #cccccc;
  --surface-font-color: #cccccc;
  --primary-font-color: #cccccc;
  --secondary-font-color: #000101;
}

.light {
  --background-color: #ffffff;
  --surface-color: #f2f2f2;
  --primary-color: #b58863;
  --secondary-color: #f0d9b5;
  --background-font-color: #292929;
  --surface-font-color: #292929;
  --primary-font-color: #000101;
  --secondary-font-color: #000101;
}